<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Apagar</title>
</head>
  <body>
    <form th:action="@{/apagar}" method="post">
      <label for="pokemonName">Pokemon Name</label>
      <input id="pokemonName" type="text">

      <label for="generation">Generation</label>
      <input id="generation" type="number" min="1" max="6">

      <label for="hp">HP</label>
      <input id="hp" type="number" min="1" max="255">

      <label for="attack">Attack</label>
      <input id="attack" type="number" min="5" max="190">

      <label for="defense">Defense</label>
      <input id="defense" type="number" min="5" max="230">

      <label for="speedAT">Speed Attack</label>
      <input id="speedAT" type="number" min="10" max="194">

      <label for="speedDF">Speed Defense</label>
      <input id="speedDF" type="number" min="20" max="230">

      <label for="speed">Speed</label>
      <input id="speed" type="number" min="5" max="180">

      <label for="legendary">Legendary</label>
      <select name="legendary" id="legendary">
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
    </form>

    <input type="submit" value="Apagar">
  </body>
</html>